<!DOCTYPE html>
  <html>
    <head>
      <style>
        p{
            border: 1px solid red;
            background-color: linen;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 400px;
            margin-left: 400px;
            cursor:pointer;
        }
      </style>
    </head>
      <body style="background-color:lightgrey;text-align:center;line-height:50px">
        <h1 style="text-align:center;color:red;">Welcome to AYKO IT SOLUTIONS.</h1>
        <h2 style="text-align:center;color:blue;">One Account.Multiple Solutions.</h2>  
        <h3 style="text-align:center;color:red;">Account Login.</h3>
        <fieldset>
          <p>Username:<input type="text" name="Username"><br> 
          password:<input type="text" name="Password"><br>
          <a href="http://localhost/learnProject/First-Project/HTML/ForgotPassword.html">Forgot Password?</a><br>
          <input type="button" onclick="location.href='http://localhost/learnProject/First-Project/HTML/LoginFormIn.html';"value="Login" /> 
          <span class="btn-round">or</span>
          <input type="button" onclick="location.href='http://localhost/learnProject/First-Project/HTML/SignUp.html';"value="Sign Up" />
          </p>
        </fieldset>
      </body>
</html>